.pixel {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: rgb(227, 246, 227);
    position: absolute;
    animation: movePixel 5s linear infinite;
  }
  
  @keyframes movePixel {
    0% {
      top: 0;
   
    }
    100% {
      top: 100vh; 
    }
  }
  